/* =================== GENERAL ======================= */
.card {
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.cardTitle {
  padding-top: 20px;
}

.formSubmit {
  background-color: #00bcd4;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}

.App {
  text-align: center;
}

/*===================== NAVIGATION =====================*/
.titleBar {
  position: relative;
  width: 100%;
  background-color: #00bcd4;
  height: auto;
  color: white;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5em;
  text-align: left;
  text-indent: 15px;
  color: white;
  flex: 1, 1, auto;
}

.menu {
  flex: 1, 1, auto;
  padding-right: 30px;
  cursor: pointer;
  font-size: 24px;
}

.dropdown {
  display: none;
  top:100%;
  right: 0;
  margin: 0;
  padding: 20px;
  position: absolute;
  background-color: white;
  color: #00bcd4;
  list-style: none;
  text-align: left;
  text-decoration: none;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown a {
  color: #00bcd4;
  text-decoration: none;
  font-size: 18px;
}

.inactive {
  display: none;
}

.active {
  display: block;
}

/* =================== DASHBOARD ===================== */

.dashboard {
  width: auto;
  margin: 20px 50px 20px 50px;
}

.sleepcolor {
  color: #e41a1c;
  stroke: #e41a1c;
  fill: #e41a1c;
}

.dietcolor {
  color: #377eb8;
  stroke: #377eb8;
  fill: #377eb8;
}

.activitycolor {
  color: #4daf4a;
  stroke: #4daf4a;
  fill: #4daf4a;
}

.emotionalcolor {
  color: #984ea3;
  stroke: #984ea3;
  fill: #984ea3;
}

.socialcolor {
  color: #ff7f00;
  stroke: #ff7f00;
  fill: #ff7f00;
}

.occupationalcolor {
  color: #a6cee3;
  stroke: #a6cee3;
  fill: #a6cee3;
}

.spiritualcolor {
  color: #a65628;
  stroke: #a65628;
  fill: #a65628;
}

.intellectualcolor {
  color: #f781bf;
  stroke: #f781bf;
  fill: #f781bf;
}

.tiers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.tiers div {
  padding: 15px;
}

/* ============================= QUIZ ============================= */

.quiz {
  width: 90%;
  margin: 20px 50px 20px 50px;
}

.quizLabel {
  font-weight: bold;
  display: block;
  padding-top: 5px;
}

.likert {
  display: inline;
  margin: 10px 10px 0 10px;
}

.notes {
  display: block;
  margin: 10px auto 20px auto;
  width: 200px;
}

.divider {
  width: 70%;
}

/* ========================= PREFERENCES ========================= */

.preferences {
  width: 90%;
  margin: 20px auto 20px auto;
}
.prefList {
  display: block;
  padding: 5px;
}

.App-intro {
  font-size: large;
}

/* =================== LANDING PAGE ===================== */
.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
